<div id="title">
    <h1>Recovery Setup Successful</h1>
</div>
<div class="section">
  <div class="bodyText">
      <p>
          Congratulations, your token was saved.
      </p>
      <p>
          <a href="<%= recover_uri %>">Recover now?</a>
      </p>
  </div>
</div>
