---
http_interactions:
- request:
    method: get
    uri: https://example-provider.org/.well-known/delegated-account-recovery/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Z2l0aHViOjJiMTc1N2VlYjk3ZjFiNDEwOWYxN2Y2NDQxZmU3NTEy
  response:
    status:
      code: 200
      message:
    headers:
      public-key-pins-report-only:
      - max-age=500; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="q4PO2G2cbkZhZ82+JgmRUyGMoAeozA+BSXVXQWB8XWQ="; report-uri="http://reports.fb.com/hpkp/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
           "issuer": "https://example-provider.org",
           "countersign-pubkeys-secp256r1": [
              "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEt8Q2mx9vXutOdCPlPP0J9qrJs/7aULPCXNyWfwOvt6k9vb2DIVqD3f7HlYOjZTt1xyUVAicfXbiuPA7sp/iaBA=="
           ],
           "tokensign-pubkeys-secp256r1": [
              "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE+LQRJeAXDpYknpWVn4lEKq0Q1ydH8c7GRcSmOzyLUvOXAxdl11spiqxuw13mHknoTRW0EutMo2gn9ID+uB0WpQ=="
           ],
           "token-max-size": 8192,
           "save-token": "https://example-provider.org/recovery/delegated/save",
           "save-token-return": "https://example-provider.org/recovery/delegated/save-token-return",
           "recover-account": "https://example-provider.org/recovery/delegated/recover",
           "recover-account-return": "https://example-provider.org/recovery/delegated/recover-account-return",
           "save-token-async-api-iframe": "https://example-provider.org/plugins/delegated_account_recovery",
           "privacy-policy": "https://example-provider.org/about/privacy/",
           "icon-152px": "https://example-provider.org/logo"
        }
  recorded_at: Fri, 28 Oct 2016 00:03:57 GMT
- request:
    method: get
    uri: http://localhost:9292/.well-known/delegated-account-recovery/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Z2l0aHViOjJiMTc1N2VlYjk3ZjFiNDEwOWYxN2Y2NDQxZmU3NTEy
  response:
    status:
      code: 200
      message:
    headers:
      public-key-pins-report-only:
      - max-age=500; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA[...]
- request:
    method: get
    uri: https://www.faceboooooook.com/.well-known/delegated-account-recovery/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message:
    headers:
      public-key-pins-report-only:
      - max-age=500; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="q4PO2G2cbkZhZ82+JgmRUyGMoAeozA+BSXVXQWB8XWQ="; report-uri="http://reports.fb.com/hpkp/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: ""
  recorded_at: Fri, 28 Oct 2016 00:03:57 GMT
- request:
    method: get
    uri: https://bad-json.com/.well-known/delegated-account-recovery/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      public-key-pins-report-only:
      - max-age=500; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="q4PO2G2cbkZhZ82+JgmRUyGMoAeozA+BSXVXQWB8XWQ="; report-uri="http://reports.fb.com/hpkp/"
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
           "issuer": "https://bad-json.org",
           "countersign-pubkeys-secp256r1": [
              ""
           ],
           "token-max-size": 8192,
           "save-token": "https://bad-json.org/recovery/delegated/save-token",
           "recover-account": "https://bad-json.org/recovery/delegated/recover",
           "save-token-async-api-iframe": "https://bad-json.org/plugins/delegated_account_recovery",
           "privacy-policy": "https://bad-json.org/about/privacy/""""/////d/e/e/e/e//&*(&(*&()))
        }
  recorded_at: Fri, 28 Oct 2016 00:03:57 GMT
- request:
    method: get
    uri: https://www.new-provider.com/.well-known/delegated-account-recovery/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Z2l0aHViOjJiMTc1N2VlYjk3ZjFiNDEwOWYxN2Y2NDQxZmU3NTEy
  response:
    status:
      code: 200
      message:
    headers:
      public-key-pins-report-only:
      - max-age=500; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHI[...]
